main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100dvw - 20px);
    height: calc(100dvh - 20px);
}

li{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}