@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

button{
    all: unset;
    background-color: blue;
    color: white;
    width: 150px;
    height: 30px;
    border-radius:  5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
